$mainHoverColor: #058995;
$secondaryHoverColor: #01b692;


.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 30px 10%;
  justify-content: flex-end;
  width: 300%;
  background: linear-gradient(0.25turn, $mainHoverColor, $secondaryHoverColor);
  animation: fancyHoverExit .3s ease-in-out;
  animation-iteration-count: 1;
  h1 {
    margin-right: auto;
  }
}

.header:hover {
  animation: fancyHoverEnter .3s ease-in-out;
  animation-iteration-count: 1;
  width: 100%;
}

@keyframes fancyHoverEnter {
  from {
    width: 300%;
  }

  to {
    width: 100%;
  }
}

@keyframes fancyHoverExit {
  from {
    width: 100%;
  }

  to {
    width: 300%;
  }
}

.links {
  nav ul{
    list-style-type: none;
  }
  li {
    display: inline-block;
    padding: 9px 25px;
    height: max-content;
    :hover {
      // color: rgb(209, 253, 255);
    }
  }
  a {
    text-decoration: none;
    color: inherit;
  }
}

.toggle-theme-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;

  span {
    font-size: 28px;
  }
  .toggle-theme {
    position: relative;
    display: inline-block;
    height: 34px;
    width: 60px;
    input {
      display: none;
    }
  }
}

.slider {
  background-color: #ccc;
  position: absolute;
  cursor: pointer;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition: 0.2s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

input:checked + .slider {
  background-color: cornflowerblue;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}