:root {
  --backColor: #EEF6FC;
  --fontColor: #333;
  --linkColor: cornflowerblue;
}

[data-theme="dark"] {
  --backColor: #333;
  --fontColor: #EEF6FC;
  --linkColor: lightblue;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--backColor);
  color: var(--fontColor);
}

a {
  color: var(--linkColor);
}


@import './header';
@import './home';
@import './mainpages'